<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
        <label>Từ khóa</label>
        <img src="/img/pepsi.png" />
        <input type="text" class="form-control mt-4" name= "fullname" placeholder="Nhập từ khóa" aria-label="Nhập từ khóa" aria-describedby="basic-addon1" id="keyword">
        <input type="text" class="form-control mt-4" name= "age" placeholder="Nhập từ khóa" aria-label="Nhập từ khóa" aria-describedby="basic-addon1" id="keyword">
        <input type="text" class="form-control mt-4" name= "weight" placeholder="Nhập từ khóa" aria-label="Nhập từ khóa" aria-describedby="basic-addon1" id="keyword">
        </div>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>